force-app/main/default/flows/KeyMetrics.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Increment_case_count</name>
        <label>Increment case count</label>
        <locationX>506</locationX>
        <locationY>39</locationY>
        <assignmentItems>
            <assignToReference>caseCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_cases</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increment_opp_amounts</name>
        <label>Increment opp amounts</label>
        <locationX>902</locationX>
        <locationY>49</locationY>
        <assignmentItems>
            <assignToReference>OppAmounts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>currentopp.Amount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_opps</targetReference>
        </connector>
    </assignments>
    <interviewLabel>KeyMetrics {!$Flow.CurrentDateTime}</interviewLabel>
    <label>KeyMetrics</label>
    <loops>
        <name>Loop_through_cases</name>
        <label>Loop through cases</label>
        <locationX>506</locationX>
        <locationY>252</locationY>
        <assignNextValueToReference>currentcase</assignNextValueToReference>
        <collectionReference>Get_related_cases</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Increment_case_count</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_related_opps</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_through_opps</name>
        <label>Loop through opps</label>
        <locationX>901</locationX>
        <locationY>262</locationY>
        <assignNextValueToReference>currentopp</assignNextValueToReference>
        <collectionReference>Get_related_opps</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Increment_opp_amounts</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>MyScreen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_related_cases</name>
        <label>Get related cases</label>
        <locationX>50</locationX>
        <locationY>261</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_cases</targetReference>
        </connector>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_related_opps</name>
        <label>Get related opps</label>
        <locationX>730</locationX>
        <locationY>262</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_opps</targetReference>
        </connector>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Amount</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>MyScreen</name>
        <label>MyScreen</label>
        <locationX>593</locationX>
        <locationY>675</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_related_cases</targetReference>
        </connector>
        <fields>
            <name>DisplayTextArea</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;b&gt;&lt;u&gt;Key Metrics&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b&gt;Number of Cases:  &lt;/b&gt;{!caseCount}&lt;/p&gt;&lt;p&gt;&lt;b&gt;Total Opp Amount:&lt;/b&gt;  {!OppAmounts}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_related_cases</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>caseCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>currentcase</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>currentopp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>OppAmounts</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
